
.root {
    -fx-background-color: #E6E6FA;
    -fx-padding: 20;
}

.cat-card {
    -fx-background-color: #B7B1D5;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.16), 18, 0, 0, 4);
}

.title-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #5D4E90;
}

.cat-art {
    -fx-font-family: "Menlo", "Courier New", "Monospaced";
    -fx-font-size: 40;
}

.mood-label {
    -fx-font-size: 16px;
    -fx-text-fill: #5F599A;
}

.stat-label {
    -fx-font-size: 14px;
    -fx-text-fill: #444444;
}

.warning-label {
    -fx-font-size: 13px;
    -fx-text-fill: #E06B75;
    -fx-font-weight: bold;
 }

 .cute-button {
    -fx-background-color: #E6E6FA;
    -fx-background-radius: 999;
    -fx-padding: 6 18 6 18;
    -fx-text-fill: #4A3B4F;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
 }

 .cute-button:hover {
    -fx-background-color: #5F599A;
 }

 .startover-button {
 -fx-background-color: #908D95;
 -fx-background-radius: 999;
 -fx-padding: 6 18 6 18;
 -fx-text-fill: #FFFFFF;
 -fx-font-weight: bold;
 -fx-font-size: 14px;
 }

 .startover-button:hover {
    -fx-background-color: #605E62;
 }


